<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de Lojas</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <header>
        <h1>Scraping com Selenium</h1>
    </header>

    <main>
        <section class="search-container">
            <form id="searchForm" class="search-form">
                <input type="text" class="search-input" id="search" placeholder="Digite sua busca..." required>
                <button type="submit" class="search-button">Buscar</button>
            </form>
        </section>
    
        <section class="results-container">
            <h2 class="results-title">Resultados:</h2>
            <ul id="resultados"></ul>
        </section>
    </main>

    <footer>
        <a href="https://github.com/mcarina/">&copy; 2025 github.com/mcarina</a>
    </footer>

    <script>
        document.getElementById("searchForm").addEventListener("submit", async function(event) {
            event.preventDefault();
            const termo = document.getElementById("search").value;

            const response = await fetch("/buscar", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ q: termo })
            });

            const data = await response.json();
            const lista = document.getElementById("resultados");
            lista.innerHTML = "";

            if (data.erro) {
                lista.innerHTML = `<li style="color: red;">${data.erro}</li>`;
                return;
            }

            data.forEach(item => {
                const li = document.createElement("li");
                li.innerHTML = `
                <a href="${item.link}" target="_blank" class="result-url" >${item.nome}</a>
                `;
                lista.appendChild(li);
            });
        });
    </script>
</body>
</html>
