<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraping</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <header>
        <h1>Scraping com Selenium</h1>
        <nav>
            <a href="/" class="nav-link">Início</a>
            <a href="/sobre" class="nav-link">Sobre</a>
        </nav>
    </header>

    <main>
        <section class="content-container">
            <div class="about-section">
                <h3 class="section-title">Sobre o projeto:</h3>
                <p>
                    <strong>Scraping com Selenium</strong> Desenvolvi esse projeto com o objetivo de estudar mais sobre o
                    metodo scraper junto com o selenium, ultimamente tenho usado outras linguagens de programação
                    no meu trabalho, mais confesso que pytho sempre vai ter um lugar no meu coração, e por conta
                    disso continuo a estudar mais e mais frameworks e bibliotecas de python, por puro entusiamos!
                </p>

                <p>
                    Este projeto possui uma interface simples, da qual desenvolvi com a ajuda do <a href="https://v0.dev">v0.dev</a>
                    Apesar de básica, ela facilita o entendimento e a visualização do que o meu código se propõe a entregar.
                </p>

                <h3 class="section-title">Principais Características:</h3>
                <ul class="feature-list">
                    <li>Interface limpa e intuitiva para facilitar a experiência do usuário</li>
                    <li>Sistema de busca otimizado</li>
                    <li>Design responsivo que se adapta a diferentes dispositivos</li>
                    <li>Código HTML puro para máxima compatibilidade e desempenho</li>
                    <li>Fácil integração com outros sistemas e plataformas</li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <a href="https://github.com/mcarina/">&copy; 2025 github.com/mcarina</a>
    </footer>

</body>
</html>
